body{
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
}

body p{
    border-width: 20px;
}

body h1{
    background-color: rgb(91, 166, 116);
    text-align: center;
}

form{
    border: 5px black solid;
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(134, 177, 148);
}

#message{
    width: 100px;
    height: 50px;
}

input{
    border: 2px rgb(32, 80, 35) solid;
    border-radius: 5px;
    background-color: rgb(41, 96, 42);
    color: aliceblue;
}
